/* Sticky footer styles
-------------------------------------------------- */
/* html {
  position: relative;
  min-height: 100%;
}
body {
  Margin bottom by footer height
  margin-bottom: 60px;
} */
.footera {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: black;
  z-index: 100000000;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* .container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
} */
.text-muteda {
  text-align: center;
  margin: 20px 0;
}
