<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.BoardMapper">

	<select id="list" resultType="org.zerock.domain.BoardVO">
		select * from t_board
		order by bno
		desc
		limit #{pageStart},#{perPageNum}
	</select>

	<select id="read" resultType="org.zerock.domain.BoardVO">
		select * from t_board where
		bno=#{bno}
	</select>

	<insert id="insert">
		insert into t_board(title, content, mid, cno, kno)
		values(#{title}, #{content},#{mid}, #{cno}, #{kno})
	</insert>

	<update id="update">
		update t_board set title = #{title},
		content=#{content}, updatedate = now()
		where bno=#{bno}
	</update>

	<delete id="delete">
		delete from t_board where bno=#{bno}
	</delete>

	<select id="count" resultType="int">
		select count(*) from t_board
		<include refid="criteria"></include>
	</select>

	<sql id="criteria">

		<if test="type !='' and keyword !=''">
			<where>

				<foreach collection="arr" separator="OR" item="type"
					open="(" close=")">

					<if test="type eq 't'.toString()">
						title like concat ('%',#{keyword},'%' )
					</if>

					<if test="type eq 'c'.toString()">
						content like concat ('%',#{keyword},'%')
					</if>

					<if test="type eq 'm'.toString()">
						mid like concat ('%',#{keyword},'%')
					</if>
				</foreach>
			</where>
		</if>
	</sql>


	<select id="searchList" resultType="org.zerock.domain.BoardVO">

		select * from t_board

		<include refid="criteria"></include>

		order by bno desc
		limit #{pageStart},#{perPageNum}

	</select>

	<insert id="addFile" parameterType="org.zerock.domain.BoardVO" >

		<selectKey order="BEFORE" keyProperty="bno" resultType="int">
			select max(bno) bno from t_board
		</selectKey>
		
		insert into t_file (fullname, bno)
		values 
		<foreach collection="files" item="item" separator=",">
		( #{item}, #{bno})
		</foreach>

	</insert>


</mapper>


