<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.GalleryMapper">

	<select id="pageList" resultType="org.zerock.domain.GalleryVO">
		select * from t_gallery
		order by pno
		desc
		limit #{pageStart}, 8
	</select>

	<select id="count" resultType="int">
		select count(*) from t_gallery
	</select>


</mapper>