<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
 <mapper namespace="org.zerock.mapper.MemberMapper">
 
	 <select id="login" resultType="org.zerock.domain.MemberVO">
	 select * from t_member where mid = #{mid} and mpw = #{mpw}
	 </select>
	 
	 <insert id="signUp">
	 insert into t_member(mid,mpw,mname,email,favor)
	 values(#{mid},#{mpw},#{mname},#{email},#{favor})
	 
	 </insert>
	  
	 <update id="keepLogin">
	 update t_member set sessionkey = #{sessionId}, sessionlimit = #{next} where mid = #{mid}
	 </update>
	 
	 <select id="checkUserWithSessionKey" resultType="org.zerock.domain.MemberVO">
	 select * from t_member where sessionKey = #{value} and sessionLimit > now()
	 </select>
	 
	 <select id="idCheck" resultType="int">
	 select count(*) from t_member where mid = #{id};
	 </select>
	 
	 <select id="selectMovie" resultType="org.zerock.domain.RecommendVO">
	 select * from t_movie where genre=#{favor} order by rand() limit 0,3
	 </select>

 </mapper>   