<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
 <mapper namespace="org.zerock.mapper.MemberMapper">
 
	 <select id="login" resultType="org.zerock.domain.MemberVO">
	 select * from t_member where mid = #{mid} and mpw = #{mpw}
	 </select>
	 
	 <insert id="signUp">
	 insert into t_member(mid,mpw,mname,email)
	 values(#{mid},#{mpw},#{mname},#{email})
	 
	 </insert>

 </mapper>   